{% extends 'base.html.twig' %}

{% block title %}customer order add{% endblock %}

{% block body %}
    <div class ="container mt-4">
        <h1>Add a command customer</h1>
        {{ form(form) }}

    </div>

{% endblock %}
