{% extends 'base.html.twig' %}

{% block title %}Hello CreateUserController!{% endblock %}

{% block body %}
    <div class ="container mt-4">
        <h1>Create an user</h1>

        {{ form(form) }}
        <input type='checkbox' name='admin' value='on'>






    </div>


{% endblock %}
