{% extends 'base.html.twig' %}

{% block title %}Hello CreateUserController!{% endblock %}

{% block body %}
    <div class ="container mt-4">
        <h1>Add a provider</h1>
        {{ form(form) }}

    </div>

{% endblock %}
